/* Changes spacing outside and inside the borders of elements*/
/* Changes the font family to the "Inter" font (because it's the default font in Figma 
and what I chose to use) */
/* Changes the color of the website text */
/* Changes the background color of the page */
/* Inserts an image into the website via the body tag and changes the image size */
/* Centers the position of the background */
/* Aligns the text to the center of the page */
body{
	margin: 0px;
	padding: 0px;
    font-family: 'Inter', sans-serif;
	color: blue;
	background-color: palegoldenrod;
	background-image: url("hard-shell-taco.png");
	background-size: 100px 100px;
	background-position: center;
	text-align: center;
}

/* Changes the font weight of the form text */
form{
	font-weight: bold;
}